@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
  background-color: white;
}
@layer components {
  .container-modified {
    @apply xl:max-w-[1352px] max-w-[1024px] w-full mx-auto px-4;
  }
  /* LI-ITEMS */
  .header-li {
    @apply common-text hover:text-secondary w-fit duration-300 relative after:w-0 after:h-[2px] after:absolute after:-bottom-1 after:left-1/2 after:translate-x-[-50%] after:content-[''] after:duration-300 hover:after:w-full  after:bg-secondary leading-[150%];
  }

  /* BUTTONS */
  .primary-button {
    @apply gap-3 xl:!text-base !text-sm font-semibold leading-[150%] text-white px-6 lg:h-12 h-10 rounded-lg flex items-center justify-center common-text bg-secondary hover:bg-transparent border-secondary border hover:text-secondary duration-300 ease-in-out transition-all;
  }
  .secondary-button {
    @apply xl:!text-base !text-sm font-semibold leading-[150%] text-secondary px-4 lg:px-6 lg:h-12 h-10 rounded-lg flex items-center justify-center common-text hover:bg-secondary bg-transparent border-secondary border hover:text-white duration-300 ease-in-out transition-all gap-3;
  }

  /* COMMON-TEXT */
  .common-text {
    @apply text-primary font-medium leading-[125%] sm:!text-base !text-sm;
  }
  /* HEADINGS */
  .heading {
    @apply 2xl:text-5xl lg:text-4xl md:text-3xl text-2xl font-bold leading-[130%] text-primary;
  }
  .sub-heading {
    @apply 2xl:text-lg xl:text-base lg:text-sm text-xs font-normal leading-[133%] text-flintstone;
  }
  .advance-feature-heading {
    @apply 2xl:text-2xl lg:text-xl text-lg font-bold leading-[130%] text-primary;
  }
  .advance-feature-sub-heading {
    @apply sm:text-sm text-xs leading-[150%] text-primary opacity-[0.7];
  }
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  margin-top: 24px !important;
}
.swiper-pagination-bullet-active {
  background: #210c33 !important;
  width: 30px !important;
  height: 8px !important;
  border-radius: 100px !important;
}
.swiper-pagination-bullet {
  background: #c3c7ce;
  width: 8px;
  height: 8px;
}
